img.bg-img {
    width: 38vw;
    height: fit-content;
    overflow: hidden;
}

img.banner-img {
    height: 18vh;
    width: auto;
}

.bg-img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
}

.bg-title h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-align: center;
}

a {
    width: max-content;
}

.title_link {
    color: #F5FFF9 !important;
}

.flexbox_outline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.flexbox_menucards {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    margin: 0;
}

.landingbutton {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    margin: .5rem 0rem .5rem 0rem;
    width: auto;
    height: auto;
}

.flexbox_socialmediabuttons {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.landingbutton:hover {
    background-color: #202C36;
    color: #F5FFF9;
    box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.24), 0px 16px 12px 10px rgba(0,0,0,0.19);
}

.landing_cards {
    width: 14vw;
    height: auto;
}

.blankspace {
    text-decoration: none;
    color: #202c3600;
}

img.btns_sm_links {
    width: 2rem;
    height: auto;
}