.bg-wrap {
    position: relative;
    height: 75vh;
    overflow: hidden;
}

.bg-img {
    opacity: .4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: max-content;
}

.bg-title h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1, p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.title_link {
    color: white !important;
}

.index_div {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.landingbutton {
    border: none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin: auto;
}

.landingbutton:hover {
    background-color: #001aff;
    color: azure !important;
}
