.bg-wrap {
    position: relative;
    height: 75vh;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
}

.bg-title h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-align: center;
}

a {
    width: max-content;
}

.title_link {
    color: #F5FFF9 !important;
}

.index_div {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 16vh;
}

.landingbutton {
    border: none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    padding: 4rem 4rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    margin: auto;
}


.landingbutton:hover {
    background-color: #22303a;
    color: #F5FFF9;
    box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.24), 0px 16px 12px 10px rgba(0,0,0,0.19);
}