img.bg-img {
    width: 38vw;
    height: fit-content;
    overflow: hidden;
}

img.banner-img {
    height: 18vh;
    width: auto;
}

.bg-img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
}

.flexbox_outline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.flexbox_menucards {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    margin: 0;
}

.landingbutton {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    margin: .5rem 0rem .5rem 0rem;
    width: auto;
    height: auto;
}

.flexbox_socialmediabuttons {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.landingbutton:hover {
    background-color: #202C36;
    color: #F5FFF9;
    box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.24), 0px 16px 12px 10px rgba(0,0,0,0.19);
}

.landing_cards {
    width: 14vw;
    height: auto;
}

.blankspace {
    text-decoration: none;
    color: #202c3600;
}

.btns_sm_links {
    width: 2rem;
    height: auto;
}

@media screen and (max-width: 600px)
{
    .bg-img {
        position: static;
        align-items: center;
        left: 0;
        top: 0;
        width: 100%;
        height: fit-content;
    }
    img.bg-img {
        width: 38vw;
        height: fit-content;
        overflow: hidden;
        position: absolute;
        top: 20%;
        left:50%;
        transform:translate(-50%, -50%);
    }
    
    img.banner-img {
        height: 11vh;
        width: auto;
        position: relative;
        top: 63%;
        left: 0%;
        transform: translate(0%, 340%);
    }

    .flexbox_menucards {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 63%;
        left: 0%;
        transform: translate(300%, 250%);
    }

}

@media screen and (max-width: 900px) and (min-width: 600px)
{
    .bg-img {
        position: static;
        align-items: center;
        left: 0;
        top: 0;
        width: 100%;
        height: fit-content;
    }
    img.bg-img {
        width: 38vw;
        height: fit-content;
        overflow: hidden;
        position: absolute;
        top: 0%;
        left: 50%;
        transform:translate(-50%, 20%);
    }
    
    img.banner-img {
        height: 13vh;
        width: auto;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 380%);
    }

    .flexbox_menucards {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(300%, 240%);
    }
    .flexbox_socialmediabuttons {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, -320%);
    }
}