/* GENERAL */

* {
    margin: 0;
    padding: 0;
    font: inherit;
    background-color: #202C36;
}

ul[role="list"]
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:link {
    text-decoration: none;
    color: #F5FFF9;
}

a:visited {
    text-decoration: none;
    color: #F5FFF9;
}

a:hover {
    text-decoration: none;
    color: #F5FFF9;
}

a:active {
    text-decoration: none;
    color: #F5FFF9;
}

h1 {
    text-align: center;
    text-decoration: solid;
    text-transform: uppercase;
    font: bold;
    font-size: 500%;
    font-weight: bold;
}

/* FOOTER */

footer {
    color: black;
}